body{
  margin:0px;
  padding:0px;
  font-family:"Roboto";
  color:#313131
}
a{
  text-decoration: none;
  color:inherit;
}
/*
==========================================
          Header
==========================================
*/
header,
footer{
  border-bottom:1px solid lightgray;
  text-align:center;
  font-family: 'Sedgwick Ave Display', cursive;
  font-size: 22px;
  padding:10px 0px;
}
/*
==========================================
          Latext
==========================================
*/
.home-latest{
  box-sizing: border-box;
  padding: 0;
}
.item,
.image_cover{
  position: relative;;
  background-size: cover !important;
  height: 200px;
}
.description{
  position: absolute;
  bottom: 0px;
}
.description span{
  background-color:#00BCD4;
  padding:10px;
  display:inline-block;
  text-transform: uppercase;
  color:#fff;
  font-size:10px;
}
.description div{
  padding: 10px;
  font-family: 'Roboto';
  font-size:15px;
  font-weight: 700;
  color:#fff;
  background-color: rgba(53,53,53,0.64);
  width: 40%;
}
/*
==========================================
          Other News
==========================================
*/

.other-news{
  box-sizing: border-box;
  padding: 10px;
}
.other-news h2{
  font-weight: 300;
}
.other-news-item .item-other{
  display:flex;
  border: 1px solid #e6e6e6;

}
.other-news-item .item-other .left{
 flex-grow: 1;
 width: 100px;
 height: 120px;
 background-size: cover !important;
 background-position: center center !important;
  
}
.other-news-item .item-other .right{
width: 80%;
height: 120px;
padding: 10px 15px;
box-sizing: border-box;
position: relative;
}
.other-news-item .item-other .right h3{
margin: 0px;
font-weight: 300;
font-size:18px;
}
.other-news-item .item-other .right .category-tag{
position: absolute;
right: 0;
bottom: 0;
background-color: #00BCD4;
font-size:10px;
text-transform: uppercase;
color:#fff;
padding:5px 10px;
}
.other-news-item .item-other .right .tags{
  position: absolute;
  bottom: 6px;
}
.other-news-item .item-other .right span{
  margin-right: 15px;
  font-size:12px;
  color:#607d8b
}
/*
==========================================
          Gallery
==========================================
*/
.home-gallery{
  text-align: center;
}

.home-gallery h2{
font-weight: 300;
padding:10px;
margin-bottom:0;
}

.home-gallery .slider-item .image{
  background-size: cover !important;
  background-position: center center !important;
  width:100%;
  height:370px;
  position:relative;

}
.home-gallery .slider-item .image h3{
  position:absolute;
  color:#fff;
  bottom:0px;
  left:20px;
  font-size:30px;
}

/*
==========================================
          news
==========================================
*/
.news_container .tags{
  background:#f8f8f8;
  padding:10px;
  color:#c5c5c5;
  font-size:14px
}
.news_container .tags span{
margin-right:15px
}
.news_container .top{
  box-sizing: border-box;
  padding: 10px;
}
.news_container .top h2{
font-weight: 700;
font-size: 30;
margin: 0;
line-height: 32px;
}
.news_container .top span{
  color:#00BCD4;
  font-weight: 300;
  font-size:11px;
  margin-top:10px;
  display:inline-block;
}
.news_container img{
  width: 100%;
}
.news_container .body_news{
  padding:20px;
  font-weight: 300;
  font-size: 17px;
}
/*
==========================================
          Gallery
==========================================
*/
.slide-item-wrap h3{
  font-weight: 300;
  text-align: center;
  
}
.slide-item-wrap .slide-item .image{
  width: 100%;
  background-position: center center !important;
  background-size: cover !important;
  height: 500px;
}
.slide-item-wrap .slide-item .gallery-description{
    box-sizing: border-box;
    padding: 20px;
    background: #e0e0e0
}
/*
==========================================
          ADDLIKES
==========================================
*/
.addlikes-wrapper{
  margin-bottom:20px;
}
.addlikes-container{
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.addlikes-container .btn{
  cursor: pointer;
  text-align: center;
  background:#f8f8f8;
  flex: 1;
  color:#b6d2e8;
  font-size: 30px;
  padding: 10px;
}
.addlikes-container .btn:hover{
background: #607d8b;
}
.addlikes-container .like{
 border-right: 1px solid #fff;
}
.addlikes-container .dislike{
  border-left: 1px solid #fff;
 }